<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body style="width: 100%; padding-top: 60px;">
		 	<div class="welcome" style="margin:0px auto; text-align: center;">
		  		<h1>Welcome to the <%= link_to image_tag("easypaylogo3.png", width: 400, height: 100, class:"welcomeimg") %> </h1>
			</div>

			<img src="/assets/payroll.png" style="margin: 0px auto; text-align: center; height: 400px;"> 
			<!-- <div id="slideshow">
			   	<div>
			     <%= image_tag("slide1.jpg", class:"slideimg")%>
			  	</div>
			  	<div>
			     <%= image_tag("slide2.jpg", class:"slideimg")%>
			  	</div>
			  	<div>
			     <%= image_tag("slide3.jpg", class:"slideimg")%>
			  	</div>
			  	<div>
			     <%= image_tag("slide4.png", class:"slideimg")%>
			  	</div>
			</div>
	<script type="text/javascript">
		 $("#slideshow > div:gt(0)").hide();
		 setInterval(function() { 
		   $('#slideshow > div:first')
		     .fadeOut(0)
		     .next()
		     .fadeIn(0)
		     .end()
		     .appendTo('#slideshow');
		 },  3000);
	</script> -->
  </body>
</html>

