<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.profileimg_url, size:100, class: 'proimg' %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>



    <div class="col-md-8">
    
            
            <h1 style="margin-top: 45px;"> +Adjustments </h1>
            <h3><%= link_to "+Add new adjustments?", new_user_dope_adjustment_path %></h3>
            <% if @user.dope_adjustments.any? || @user.admin? %>
            
            <ol class="dope_adjustments">
            <%= render @dope_adjustments %>
            </ol>
            <%= will_paginate @dope_adjustments %>
            <% else %>
            
            
            <% end %>


    </div>

    
</div>

